<% all_posts = link_to("All Posts", posts_path) %>
<%= render "shared/content_title", title: "#{all_posts} &raquo; #{@category.name}".html_safe %>

<% @category.posts.each do |post| %>
  <%= render "posts/post", post: post %>
<% end %>

<% if @category.posts.empty? %>
  <p>No posts in this category yet. Why not <%= link_to "add one?", new_post_path %></p>
<% end %>
